<!-- Formulaire simple pour ajouter un héro -->
<div>
    <label for="heroNom">Nom</label>
    <input type="text" id="heroNom" [(ngModel)]="newHero.nom">
</div>
<div>
    <label for="heroPrenom">Prénom</label>
    <input type="text" id="heroPrenom" [(ngModel)]="newHero.prenom">
</div>
<div>
    <label for="heroHp">Hp max</label>
    <input type="number" step="1" min="0" id="heroHp" [(ngModel)]="newHero.hpMax">
</div>

<button (click)="addHero()">Ajouter Héro</button>

{{ newHero | json }}

<app-status [hero]="hero" *ngFor="let hero of heroes"></app-status>